FROM {{ config.models.primary.name }}
PARAMETER num_ctx {{ config.models.primary.context_window }}
PARAMETER temperature {{ config.models.primary.temperature }}
PARAMETER top_p 0.9
PARAMETER repeat_penalty 1.1
