FROM {{ config.models.test_generator.name }}
PARAMETER num_ctx {{ config.models.test_generator.context_window }}
PARAMETER temperature {{ config.models.test_generator.temperature }}
PARAMETER top_p 0.9
